[Desktop Entry]
Type=Application
Name=VideoTools
Comment=VideoTools media toolkit
Exec=VideoTools
Icon=VT_Logo
Terminal=false
Categories=AudioVideo;Video;Utility;
